.Gicontz-Header ul{
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}
.Gicontz-Header .nav li{
    flex: 1 0 auto;
}
.Gicontz-Header .nav a{
    text-decoration: none;
    text-align: center;
}
.Gicontz-Header {
    background: #ffffff;
    padding: 15px;
}